<footer>
  <div class="mb-16 px-12 lg:px-[84px] 2xl:px-[160px]" *ngIf="!isReservationPage">
    <h2 class="font-playfairbold text-black text-5xl leading-[58px]">Seize the Moment of Culinary Bliss.</h2>
    <h2 class="font-playfairbold text-black text-5xl leading-[58px]">Savour the Extraordinary!</h2>
  </div>
  <a [routerLink]="'/reservation'" class="group flex items-center mb-5 md:mb-12 2xl:mb-16" *ngIf="!isReservationPage">
    <div class="w-full bg-black p-5 lg:px-12 lg:py-11 xl:px-[84px] 2xl:px-[164px] group-hover:bg-darkgray transition">
      <h6 class="font-gsbold text-white text-2xl leading-[34px] lg:text-[48px] lg:leading-[58px]">Book a Reservation</h6>
    </div>
    <div class="transition-all duration-300 group-hover:translate-y-[-20px] group-hover:opacity-70">
      <img src="/assets/images/home.png" alt="home" class="w-[74px] p-[15px] lg:w-[146px]">
    </div>
  </a>
  <div class="px-5 md:px-12 xl:px-[84px] 2xl:px-[160px]">
    <div class="flex justify-between flex-wrap gap-7 mb-5 lg:mb-10">
      <div>
        <p class="font-gsbold text-black text-lg leading-7">Open Hours</p>
        <div class="font-gsregular text-darkgray text-lg leading-7">
          <p>Monday - Friday: 6.00 PM - 11.00 PM</p>
          <p>Saturday - Sunday: 12.00 PM - 10.00 PM</p>
        </div>
      </div>
      <div>
        <p class="font-gsbold text-black text-lg leading-7">Address</p>
        <div class="font-gsregular text-darkgray text-lg leading-7 max-w-[300px]">
          <p>Noir Nosh Fine Dining, 789 Refined Street, Cityville, State 34567</p>
          <div class="flex items-center gap-1">
            <img src="/assets/icons/mail.svg" alt="mail">
            <a href="mailto:info@noirnosh.com">info@noirnosh.com</a>
          </div>
          <div class="flex items-center gap-1">
            <img src="/assets/icons/phone.svg" alt="phone">
            <a href="tel:(555) 123-4567">(555) 123-4567</a>
          </div>
        </div>
      </div>
      <div>
        <p class="font-gsbold text-black text-lg leading-7 mb-3">Follow Us On</p>
        <ul class="flex flex-col gap-3">
          <li><app-footer-link link="/" label="Instagram"></app-footer-link></li>
          <li><app-footer-link link="/" label="Facebook" /></li>
          <li><app-footer-link link="/" label="Twitter" /></li>
          <li><app-footer-link link="/" label="Youtube" /></li>
          <li><app-footer-link link="/" label="LinkedIn" /></li>
        </ul>
      </div>
    </div>
    <h1 class="font-playfairblack text-center text-[13.5vw] mb-8 md:mb-10 lg:mb-16">NOIR NOSH</h1>
    <div class="border-t border-lightgray py-12 text-center md:py-6 md:flex md:justify-between md:items-center">
      <p class="font-gsregular text-darkgray text-sm leading-5">Built by <span class="font-gssemibold text-black">Serghei Bordeniuc</span></p>
      <p class="font-gsregular text-darkgray text-sm leading-5">&copy; 2024 Noir Nosh. All right reserved.</p>
    </div>
  </div>
</footer>
