<main class="mx-8 md:mx-12 xl:mx-[84px]">
  <app-title [title]="'Our Menu'" [subtitle]="'Noir Nosh offers a menu that celebrates global flavours with the finest ingredients crafted into culinary masterpieces. From starters to desserts, each dish is an exquisite experience that invites you on a gastronomic journey like no other.'" [customClass]="'mb-16 md:mb-[84px] 2xl:mb-[100px]'"></app-title>
  <app-menu-list [title]="'Appetizers'" [type]="'appetizers'" [items]="appetizers"></app-menu-list>
  <app-menu-list [title]="'Main Courses'" [type]="'main-courses'" [items]="mainCourses"></app-menu-list>
  <app-menu-list [title]="'Vegetarian Delights'" [type]="'vegetarian-delights'" [items]="vegetarianDelights"></app-menu-list>
  <app-menu-list [title]="'Dessert Ateliers'" [type]="'dessert-ateliers'" [items]="dessertAteliers"></app-menu-list>
  <app-menu-list [title]="'Beverages'" [type]="'beverages'" [items]="beverages"></app-menu-list>
</main>
