<section class="mb-16 md:mb-[84px] lg:mb-[120px] xl:mx-[84px]">
  <div class="block mb-10 md:mb-12 lg:mb-16 lg:flex lg:justify-between lg:items-center">
    <h6 class="font-gsbold text-black text-[28px] leading-9 max-w-[300px] md:text-5xl md:max-w-[600px] md:leading-[60px] lg:max-w-[560px] xl:max-w-[680px]">
      Where Every Bite Transcends Taste and Becomes a Symphony of Luxury
    </h6>
    <div>
      <p class="font-gsregular text-darkgray text-lg leading-7 mb-6 xl:max-w-[550px] 2xl:max-w-[570px] md:mb-8">Discover a Symphony of Flavors Crafted with Precision and Presented in a Setting of Unmatched Luxury. Elevate Your Dining Experience at Noir Nosh.</p>
      <div class="flex flex-column gap-4 md:flex-row md:gap-5">
        <app-button-dark link="/reservation" label="Book a Reservation"></app-button-dark>
        <app-button-light link="/menu" label="Explore Our Menu"></app-button-light>
      </div>
    </div>
  </div>
  <img src="/assets/images/hero.png" alt="table" class="w-full">
</section>
