<section class="mb-16 md:mb-[84px] lg:mb-[120px] xl:mx-[84px]">
  <div class="flex flex-col gap-2 mb-6 md:mb-10 md:flex-row md:gap-5 lg:gap-16">
    <h4 class="font-playfairbolditalic text-black text-[40px] leading-[50px]">Our Menu</h4>
    <p class="font-gsregular text-darkgray text-lg leading-7 md:max-w-[450px] lg:max-w-[540px]">Noir Nosh offers a menu that celebrates global flavours with the finest ingredients crafted into culinary masterpieces. From starters to desserts, each dish is an exquisite experience that invites you on a gastronomic journey like no other.</p>
  </div>
  <div class="flex flex-col gap-2.5">
    <div class="grid grid-cols-3 gap-2.5">
      <img src="/assets/images/menu-1.png" alt="menu-1" class="w-full">
      <img src="/assets/images/menu-2.png" alt="menu-2" class="w-full">
      <img src="/assets/images/menu-3.png" alt="menu-3" class="w-full h-full">
    </div>
    <div class="grid grid-cols-3 gap-2.5">
      <img src="/assets/images/menu-4.png" alt="menu-4" class="w-full">
      <img src="/assets/images/menu-5.png" alt="menu-5" class="w-full h-full">
      <img src="/assets/images/menu-6.png" alt="menu-6" class="w-full">
    </div>
    <div class="relative">
      <div class="grid grid-cols-3 gap-2.5 opacity-25">
        <img src="/assets/images/menu-7.png" alt="menu-7" class="w-full h-full">
        <img src="assets/images/menu-8.png" alt="menu-8" class="w-full">
        <img src="/assets/images/menu-9.png" alt="menu-9" class="w-full">
      </div>
      <app-button-dark link="/menu" label="Explore Our Menu" customClass="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
    </div>
  </div>
</section>
