<section class="mb-16 md:mb-[84px] lg:mb-[120px] xl:mx-[84px]">
  <div class="flex flex-col gap-2 mb-6 md:mb-10 md:flex-row md:gap-5 lg:gap-16">
    <h4 class="font-playfairbolditalic text-black text-[40px] leading-[50px]">Our Review</h4>
    <p class="font-gsregular text-darkgray text-lg leading-7 md:max-w-[450px] lg:max-w-[580px]">Find out what our customers are saying about their experience with us  and why they love it.</p>
  </div>
  <div class="lg:flex lg:items-center lg:gap-10">
    <img src="/assets/images/review.png" alt="Review" class="mb-7 lg:mb-0">
    <div class="flex flex-col gap-5 max-w-[600px]">
      <h6 class="font-gsbold text-black text-[32px] leading-[42px]">A must-visit for those who appreciate the finer things in life!</h6>
      <p class="font-gsregular text-darkgray text-lg leading-7">“An exquisite dining experience! From the moment we stepped into Noir Nosh, we were enveloped in an atmosphere of elegance. The dishes were nothing short of culinary masterpieces, each bite a revelation.”</p>
      <p class="font-gsregular text-darkgray text-sm leading-5">— Olivia Henderson</p>
    </div>
  </div>
</section>
